/* Светлая тема */
[data-theme="light"] {
    --primary-color: #1890ff;
    --background-color: #ffffff;
    --text-color: #121519;
    --header-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Тёмная тема */
[data-theme="dark"] {
    --primary-color: #177ddc;
    --background-color: #222732;
    --text-color: rgb(214, 214, 214);
    --header-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;

    @media screen and (min-width: 360px) {
        padding: 16px 0;
    }

    @media screen and (min-width: 768px) {
        padding: 24px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 40px 0;
    }
}

.ant-layout-header {
    width: 100%;
    z-index: 1000;
    box-shadow: var(--header-box-shadow);
}

.ant-typography, h1.ant-typography {
    color: var(--text-color);
}

.ant-drawer-content-wrapper {
    max-width: 300px;
}

.ant-menu {
    background: transparent;
    color: var(--text-color);
}

.ant-menu-light .ant-menu-item,
.ant-menu-dark .ant-menu-item {
    background: transparent;
    color: var(--text-color);
}

.ant-menu-item-selected {
    background: transparent;
    color: var(--primary-color);
}
