/* Светлая тема */
[data-theme="light"] {
    --primary-color: #1890ff;
    --background-color: #ffffff;
    --text-color: #000000;
    --header-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Тёмная тема */
[data-theme="dark"] {
    --primary-color: #177ddc;
    --background-color: #141414;
    --text-color: #ffffff;
    --header-box-shadow: 0 2px 8px red;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
}

.ant-layout-header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: var(--header-box-shadow);
}

.ant-typography, h1.ant-typography {
    color: var(--text-color);
}

.ant-drawer-content-wrapper {
    max-width: 300px;
}
